*{
    padding:0;
    margin:0;
    box-sizing: border-box;
 
}
body{
    background: gray;
}

.main_class{
    position: fixed;;
    top:50%;
    left:50%;
    width:20rem;
    padding:50px 35px;
    background: #e7e7e7;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    box-sizing: border-box;
}
#titles{
text-transform: uppercase;
font-size: 20px;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
}

#artist{
font-size: 19px;
font-weight: 600;
color: #9e9e9e;
display: flex;
align-items: center;
justify-content: center;
margin: 10px 0px 20px 0;
}

.imagealbum img{
    width:200px;
    height:200px;
    border-radius:50%;
    margin-left: 20px;
}

.afont{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  
}

.afont .back:hover{
    color: grey;
    cursor: pointer;
}
.play{
    background: black;
    width:40px;
    height:40px;
    border-radius:50%;
    color: #f6f6ff;;
    margin: auto;
    padding:12px 13.5px;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
}
.afont .play:hover{
    color: black;
    background: white;
    cursor: pointer;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.5);
}

.afont .forward:hover{
    color: grey;
    cursor: pointer;
}


.anime{
    animation: rotatePlayer 3s linear infinite;
}
@keyframes rotatePlayer{
    form {
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}